<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{{car.picture}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{car.make}} {{car.model}}</h5>
    <p class="card-text">{{car.pricePerWeek}}/day</p>
    <p class="card-text">Location:{{car.location}}</p>
    <a href="/RentCar/{{car._id}}"></a>
    <div class="col-sm-4">
    <form action="/chargeRenter/{{budjet._id}}" method="POST">
    <br>
    <script src="https://checkout.stripe.com/checkout.js" data-key="{{StripePublishableKey}}" class="stripe-button" data-amount="{{stripeTotal}}" 
    data-name="OLR" 
    data-description="{{budjet.total}}RS for renting a {{car.make}} {{car.model}}" data-image="/image/logo.jpeg">
        
    </script>
    <div class="form-group">
        <label for="days">Total is Rs{{budjet.total}}</label>
        
        <div class="form-group">
           
        </div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
{{!-- <div class="col-sm-4">
    <form action="/chargeRenter/{{car._id}}" method="POST">
    <br>
    <script src="https://checkout.stripe.com/checkout.js" data-key="{{StripePublishableKey}}" class="stripe-button" data-amount="{{budjet.total}}" 
    data-name="OLR" 
    data-description="{{budjet.total}}RS for renting a {{car.make}} {{car.model}}" data-image="/image/logo.jpg">
        
    </script>
    <div class="form-group">
        <label for="days">Total is Rs{{budjet.total}}</label>
        
        <div class="form-group">
           
        </div>
    </div>
    </form>
</div>
</div>
</div> --}}
<style>
    body{
        background-image: url('/image/carrent.jpg');
    }
</style>